<nav>
  <ul class="nav">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    <li><a href="{{ '/skills/' | relative_url }}">Skills & Education</a></li>
    <li><a href="{{ '/career/' | relative_url }}">Career</a></li>
    <li><a href="{{ '/portfolio/' | relative_url }}">Portfolio</a></li>
    <li><a href="{{ '/volunteer/' | relative_url }}">Volunteer</a></li>
    <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
  </ul>
</nav>
